@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jtgvyo');
  src:  url('../fonts/icomoon.eot?jtgvyo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jtgvyo') format('truetype'),
    url('../fonts/icomoon.woff?jtgvyo') format('woff'),
    url('../fonts/icomoon.svg?jtgvyo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-abacus:before {
  content: "\ea04";
}
.icon-agenda:before {
  content: "\ea05";
}
.icon-alarm-clock:before {
  content: "\ea06";
}
.icon-attach:before {
  content: "\ea07";
}
.icon-audio-sign:before {
  content: "\ea08";
}
.icon-bitcoin-symbol:before {
  content: "\ea09";
}
.icon-blackboard-with-chart:before {
  content: "\ea0a";
}
.icon-blank-document:before {
  content: "\ea0b";
}
.icon-book:before {
  content: "\ea0c";
}
.icon-briefcase:before {
  content: "\ea0d";
}
.icon-calculator:before {
  content: "\ea0e";
}
.icon-camera:before {
  content: "\ea0f";
}
.icon-cancel-credit-card:before {
  content: "\ea10";
}
.icon-change-purse:before {
  content: "\ea11";
}
.icon-chat-bubbles:before {
  content: "\ea12";
}
.icon-clipboard:before {
  content: "\ea13";
}
.icon-clipboard-with-notes:before {
  content: "\ea14";
}
.icon-cloud:before {
  content: "\ea15";
}
.icon-compact-disc:before {
  content: "\ea16";
}
.icon-compass:before {
  content: "\ea17";
}
.icon-computer-screen:before {
  content: "\ea18";
}
.icon-connection-between-computer-and-smartphone:before {
  content: "\ea19";
}
.icon-credit-card:before {
  content: "\ea1a";
}
.icon-cup:before {
  content: "\ea1b";
}
.icon-dartboard:before {
  content: "\ea1c";
}
.icon-day-15-on-calendar:before {
  content: "\ea1d";
}
.icon-dollar-sing:before {
  content: "\ea1e";
}
.icon-dustbin:before {
  content: "\ea1f";
}
.icon-e-lab-instrument:before {
  content: "\ea20";
}
.icon-equalizing-bars:before {
  content: "\ea21";
}
.icon-euro-sign:before {
  content: "\ea22";
}
.icon-exam:before {
  content: "\ea23";
}
.icon-folder-with-documents:before {
  content: "\ea24";
}
.icon-gift-box-with-a-ribbon:before {
  content: "\ea25";
}
.icon-globe:before {
  content: "\ea26";
}
.icon-gold-bars:before {
  content: "\ea27";
}
.icon-groceries-store:before {
  content: "\ea28";
}
.icon-id-card:before {
  content: "\ea29";
}
.icon-justice-balance:before {
  content: "\ea2a";
}
.icon-landscape-picture:before {
  content: "\ea2b";
}
.icon-laptop:before {
  content: "\ea2c";
}
.icon-lifeguard-float:before {
  content: "\ea2d";
}
.icon-light-bulb2:before {
  content: "\ea2e";
}
.icon-lock:before {
  content: "\ea2f";
}
.icon-lot-of-money:before {
  content: "\ea30";
}
.icon-map:before {
  content: "\ea31";
}
.icon-mathematical-operators:before {
  content: "\ea32";
}
.icon-megaphone:before {
  content: "\ea33";
}
.icon-men-avatar:before {
  content: "\ea34";
}
.icon-money-bag:before {
  content: "\ea35";
}
.icon-money-exchange:before {
  content: "\ea36";
}
.icon-musseum:before {
  content: "\ea37";
}
.icon-necktie:before {
  content: "\ea38";
}
.icon-online-shopping:before {
  content: "\ea39";
}
.icon-open-mail:before {
  content: "\ea3a";
}
.icon-paper-airplane:before {
  content: "\ea3b";
}
.icon-percentage-symbol:before {
  content: "\ea3c";
}
.icon-phone:before {
  content: "\ea3d";
}
.icon-phone-reciever:before {
  content: "\ea3e";
}
.icon-pie-chart:before {
  content: "\ea3f";
}
.icon-piggy-bank:before {
  content: "\ea40";
}
.icon-pound-symbol:before {
  content: "\ea41";
}
.icon-power-button:before {
  content: "\ea42";
}
.icon-price-ticket:before {
  content: "\ea43";
}
.icon-printer:before {
  content: "\ea44";
}
.icon-projection-screen-with-bar-chart:before {
  content: "\ea45";
}
.icon-refreshment:before {
  content: "\ea46";
}
.icon-rouble-symbol:before {
  content: "\ea47";
}
.icon-sand-clock:before {
  content: "\ea48";
}
.icon-science-test:before {
  content: "\ea49";
}
.icon-scientist-avatar:before {
  content: "\ea4a";
}
.icon-searching-tool:before {
  content: "\ea4b";
}
.icon-sell-icon:before {
  content: "\ea4c";
}
.icon-sheet-of-newspaper:before {
  content: "\ea4d";
}
.icon-sheet-of-torn-paper:before {
  content: "\ea4e";
}
.icon-shiny-diamond:before {
  content: "\ea4f";
}
.icon-shopping-basket:before {
  content: "\ea50";
}
.icon-shopping-cart:before {
  content: "\ea51";
}
.icon-smartphone:before {
  content: "\ea52";
}
.icon-smartphone-1:before {
  content: "\ea53";
}
.icon-smartphone-chat:before {
  content: "\ea54";
}
.icon-stack-of-bills:before {
  content: "\ea55";
}
.icon-storm-cloud:before {
  content: "\ea56";
}
.icon-taking-notes:before {
  content: "\ea57";
}
.icon-telemarketer:before {
  content: "\ea58";
}
.icon-telephone:before {
  content: "\ea59";
}
.icon-text-and-image-document:before {
  content: "\ea5a";
}
.icon-text-document:before {
  content: "\ea5b";
}
.icon-text-document-with-title:before {
  content: "\ea5c";
}
.icon-thinking-head:before {
  content: "\ea5d";
}
.icon-thinking-head-1:before {
  content: "\ea5e";
}
.icon-thumb-down:before {
  content: "\ea5f";
}
.icon-thumb-up:before {
  content: "\ea60";
}
.icon-tool:before {
  content: "\ea61";
}
.icon-user-network:before {
  content: "\ea62";
}
.icon-wall-clock:before {
  content: "\ea63";
}
.icon-weekly-calendar:before {
  content: "\ea64";
}
.icon-withdrawing-money-from-atm:before {
  content: "\ea65";
}
.icon-womans-avatar:before {
  content: "\ea66";
}
.icon-yen-symbol:before {
  content: "\ea67";
}
.icon-allen:before {
  content: "\e900";
}
.icon-allen-1:before {
  content: "\e901";
}
.icon-allen-2:before {
  content: "\e902";
}
.icon-anvil:before {
  content: "\e903";
}
.icon-axe:before {
  content: "\e904";
}
.icon-barrier:before {
  content: "\e905";
}
.icon-battery:before {
  content: "\e906";
}
.icon-battery-1:before {
  content: "\e907";
}
.icon-board:before {
  content: "\e908";
}
.icon-brace:before {
  content: "\e909";
}
.icon-brick-wall:before {
  content: "\e90a";
}
.icon-brick-wall-1:before {
  content: "\e90b";
}
.icon-brick-wall-2:before {
  content: "\e90c";
}
.icon-brick-wall-3:before {
  content: "\e90d";
}
.icon-bucket:before {
  content: "\e90e";
}
.icon-bucket-1:before {
  content: "\e90f";
}
.icon-caulk-gun:before {
  content: "\e910";
}
.icon-chainsaw:before {
  content: "\e911";
}
.icon-chisel:before {
  content: "\e912";
}
.icon-concrete-mixer:before {
  content: "\e913";
}
.icon-cone:before {
  content: "\e914";
}
.icon-construction:before {
  content: "\e915";
}
.icon-construction-1:before {
  content: "\e916";
}
.icon-crane:before {
  content: "\e917";
}
.icon-crane-1:before {
  content: "\e918";
}
.icon-cutter:before {
  content: "\e919";
}
.icon-door:before {
  content: "\e91a";
}
.icon-door-1:before {
  content: "\e91b";
}
.icon-door-2:before {
  content: "\e91c";
}
.icon-door-3:before {
  content: "\e91d";
}
.icon-drawing:before {
  content: "\e91e";
}
.icon-drawing-1:before {
  content: "\e91f";
}
.icon-drill:before {
  content: "\e920";
}
.icon-drill-1:before {
  content: "\e921";
}
.icon-drill-2:before {
  content: "\e922";
}
.icon-drill-3:before {
  content: "\e923";
}
.icon-electricity:before {
  content: "\e924";
}
.icon-electric-tower:before {
  content: "\e925";
}
.icon-electric-tower-1:before {
  content: "\e926";
}
.icon-engineer:before {
  content: "\e927";
}
.icon-eolic-energy:before {
  content: "\e928";
}
.icon-flash:before {
  content: "\e929";
}
.icon-flashlight:before {
  content: "\e92a";
}
.icon-garage:before {
  content: "\e92b";
}
.icon-gas-pipe:before {
  content: "\e92c";
}
.icon-gas-pipe-1:before {
  content: "\e92d";
}
.icon-gas-pipe-2:before {
  content: "\e92e";
}
.icon-gas-pipe-3:before {
  content: "\e92f";
}
.icon-gas-pipe-4:before {
  content: "\e930";
}
.icon-gas-pipe-5:before {
  content: "\e931";
}
.icon-gas-pipe-6:before {
  content: "\e932";
}
.icon-gas-pipe-7:before {
  content: "\e933";
}
.icon-gas-pipe-8:before {
  content: "\e934";
}
.icon-glass-wall:before {
  content: "\e935";
}
.icon-hammer:before {
  content: "\e936";
}
.icon-hammer-1:before {
  content: "\e937";
}
.icon-hammer-2:before {
  content: "\e938";
}
.icon-hammer-3:before {
  content: "\e939";
}
.icon-hammer-4:before {
  content: "\e93a";
}
.icon-hammer-5:before {
  content: "\e93b";
}
.icon-helmet:before {
  content: "\e93c";
}
.icon-hook:before {
  content: "\e93d";
}
.icon-hydrant:before {
  content: "\e93e";
}
.icon-jackhammer:before {
  content: "\e93f";
}
.icon-jigsaw:before {
  content: "\e940";
}
.icon-knife:before {
  content: "\e941";
}
.icon-ladder:before {
  content: "\e942";
}
.icon-ladder-1:before {
  content: "\e943";
}
.icon-ladder-2:before {
  content: "\e944";
}
.icon-ladder-3:before {
  content: "\e945";
}
.icon-ladder-4:before {
  content: "\e946";
}
.icon-level:before {
  content: "\e947";
}
.icon-light-bulb:before {
  content: "\e948";
}
.icon-light-bulb-1:before {
  content: "\e949";
}
.icon-light-bulb-2:before {
  content: "\e94a";
}
.icon-light-bulb-3:before {
  content: "\e94b";
}
.icon-light-bulb-4:before {
  content: "\e94c";
}
.icon-light-bulb-5:before {
  content: "\e94d";
}
.icon-light-bulb-6:before {
  content: "\e94e";
}
.icon-light-bulb-7:before {
  content: "\e94f";
}
.icon-light-bulb-8:before {
  content: "\e950";
}
.icon-light-bulb-9:before {
  content: "\e951";
}
.icon-light-bulb-10:before {
  content: "\e952";
}
.icon-light-bulb-11:before {
  content: "\e953";
}
.icon-light-bulb-12:before {
  content: "\e954";
}
.icon-light-bulb-13:before {
  content: "\e955";
}
.icon-loader:before {
  content: "\e956";
}
.icon-log:before {
  content: "\e957";
}
.icon-log-1:before {
  content: "\e958";
}
.icon-log-2:before {
  content: "\e959";
}
.icon-measuring-tape:before {
  content: "\e95a";
}
.icon-nail:before {
  content: "\e95b";
}
.icon-nail-gun:before {
  content: "\e95c";
}
.icon-nails:before {
  content: "\e95d";
}
.icon-nails-1:before {
  content: "\e95e";
}
.icon-paint-brush:before {
  content: "\e95f";
}
.icon-paint-brush-1:before {
  content: "\e960";
}
.icon-paint-brush-2:before {
  content: "\e961";
}
.icon-paint-brush-3:before {
  content: "\e962";
}
.icon-paint-brush-4:before {
  content: "\e963";
}
.icon-paint-brush-5:before {
  content: "\e964";
}
.icon-paint-brush-6:before {
  content: "\e965";
}
.icon-paint-brush-7:before {
  content: "\e966";
}
.icon-paint-brush-8:before {
  content: "\e967";
}
.icon-paint-brush-9:before {
  content: "\e968";
}
.icon-paint-brush-10:before {
  content: "\e969";
}
.icon-paint-brush-11:before {
  content: "\e96a";
}
.icon-paint-brush-12:before {
  content: "\e96b";
}
.icon-paint-roller:before {
  content: "\e96c";
}
.icon-paint-roller-1:before {
  content: "\e96d";
}
.icon-paint-roller-2:before {
  content: "\e96e";
}
.icon-pantone:before {
  content: "\e96f";
}
.icon-parquet:before {
  content: "\e970";
}
.icon-parquet-1:before {
  content: "\e971";
}
.icon-pipe:before {
  content: "\e972";
}
.icon-pipe-1:before {
  content: "\e973";
}
.icon-pipe-2:before {
  content: "\e974";
}
.icon-pipe-3:before {
  content: "\e975";
}
.icon-pipe-4:before {
  content: "\e976";
}
.icon-pipe-5:before {
  content: "\e977";
}
.icon-pipe-6:before {
  content: "\e978";
}
.icon-pipe-7:before {
  content: "\e979";
}
.icon-pipe-8:before {
  content: "\e97a";
}
.icon-pipe-9:before {
  content: "\e97b";
}
.icon-pipe-10:before {
  content: "\e97c";
}
.icon-pipe-11:before {
  content: "\e97d";
}
.icon-plier:before {
  content: "\e97e";
}
.icon-plier-1:before {
  content: "\e97f";
}
.icon-plier-2:before {
  content: "\e980";
}
.icon-plier-3:before {
  content: "\e981";
}
.icon-plier-4:before {
  content: "\e982";
}
.icon-plug:before {
  content: "\e983";
}
.icon-plug-1:before {
  content: "\e984";
}
.icon-plug-2:before {
  content: "\e985";
}
.icon-plug-3:before {
  content: "\e986";
}
.icon-plug-4:before {
  content: "\e987";
}
.icon-plug-5:before {
  content: "\e988";
}
.icon-plumbering:before {
  content: "\e989";
}
.icon-plumbering-1:before {
  content: "\e98a";
}
.icon-rake:before {
  content: "\e98b";
}
.icon-rake-1:before {
  content: "\e98c";
}
.icon-rake-2:before {
  content: "\e98d";
}
.icon-relief-valve:before {
  content: "\e98e";
}
.icon-relief-valve-1:before {
  content: "\e98f";
}
.icon-relief-valve-2:before {
  content: "\e990";
}
.icon-roof:before {
  content: "\e991";
}
.icon-ruler:before {
  content: "\e992";
}
.icon-ruler-1:before {
  content: "\e993";
}
.icon-ruler-2:before {
  content: "\e994";
}
.icon-ruler-3:before {
  content: "\e995";
}
.icon-ruler-4:before {
  content: "\e996";
}
.icon-ruler-5:before {
  content: "\e997";
}
.icon-saw:before {
  content: "\e998";
}
.icon-saw-1:before {
  content: "\e999";
}
.icon-saw-2:before {
  content: "\e99a";
}
.icon-saw-3:before {
  content: "\e99b";
}
.icon-saw-4:before {
  content: "\e99c";
}
.icon-saw-5:before {
  content: "\e99d";
}
.icon-screw:before {
  content: "\e99e";
}
.icon-screw-1:before {
  content: "\e99f";
}
.icon-screw-2:before {
  content: "\e9a0";
}
.icon-screw-3:before {
  content: "\e9a1";
}
.icon-screw-4:before {
  content: "\e9a2";
}
.icon-screw-5:before {
  content: "\e9a3";
}
.icon-screwdriver:before {
  content: "\e9a4";
}
.icon-screwdriver-1:before {
  content: "\e9a5";
}
.icon-screwdriver-2:before {
  content: "\e9a6";
}
.icon-screwdriver-3:before {
  content: "\e9a7";
}
.icon-screwdriver-4:before {
  content: "\e9a8";
}
.icon-screwdriver-5:before {
  content: "\e9a9";
}
.icon-screws:before {
  content: "\e9aa";
}
.icon-screws-1:before {
  content: "\e9ab";
}
.icon-scythe:before {
  content: "\e9ac";
}
.icon-shovel:before {
  content: "\e9ad";
}
.icon-shovel-1:before {
  content: "\e9ae";
}
.icon-shovel-2:before {
  content: "\e9af";
}
.icon-shovel-3:before {
  content: "\e9b0";
}
.icon-shovel-4:before {
  content: "\e9b1";
}
.icon-socket:before {
  content: "\e9b2";
}
.icon-socket-1:before {
  content: "\e9b3";
}
.icon-socket-2:before {
  content: "\e9b4";
}
.icon-socket-3:before {
  content: "\e9b5";
}
.icon-socket-4:before {
  content: "\e9b6";
}
.icon-socket-5:before {
  content: "\e9b7";
}
.icon-socket-6:before {
  content: "\e9b8";
}
.icon-socket-7:before {
  content: "\e9b9";
}
.icon-socket-8:before {
  content: "\e9ba";
}
.icon-socket-9:before {
  content: "\e9bb";
}
.icon-socket-10:before {
  content: "\e9bc";
}
.icon-socket-11:before {
  content: "\e9bd";
}
.icon-socket-12:before {
  content: "\e9be";
}
.icon-socket-13:before {
  content: "\e9bf";
}
.icon-socket-14:before {
  content: "\e9c0";
}
.icon-socket-15:before {
  content: "\e9c1";
}
.icon-socket-16:before {
  content: "\e9c2";
}
.icon-socket-17:before {
  content: "\e9c3";
}
.icon-socket-18:before {
  content: "\e9c4";
}
.icon-socket-19:before {
  content: "\e9c5";
}
.icon-spray:before {
  content: "\e9c6";
}
.icon-spray-gun:before {
  content: "\e9c7";
}
.icon-swiss-army-knife:before {
  content: "\e9c8";
}
.icon-swiss-army-knife-1:before {
  content: "\e9c9";
}
.icon-swiss-army-knife-2:before {
  content: "\e9ca";
}
.icon-swiss-army-knife-3:before {
  content: "\e9cb";
}
.icon-swiss-army-knife-4:before {
  content: "\e9cc";
}
.icon-swiss-army-knife-5:before {
  content: "\e9cd";
}
.icon-switch:before {
  content: "\e9ce";
}
.icon-switch-1:before {
  content: "\e9cf";
}
.icon-switch-2:before {
  content: "\e9d0";
}
.icon-switch-3:before {
  content: "\e9d1";
}
.icon-switch-4:before {
  content: "\e9d2";
}
.icon-switch-5:before {
  content: "\e9d3";
}
.icon-switch-6:before {
  content: "\e9d4";
}
.icon-switch-7:before {
  content: "\e9d5";
}
.icon-tap:before {
  content: "\e9d6";
}
.icon-tap-1:before {
  content: "\e9d7";
}
.icon-tap-2:before {
  content: "\e9d8";
}
.icon-tiles:before {
  content: "\e9d9";
}
.icon-toolbox:before {
  content: "\e9da";
}
.icon-toolbox-1:before {
  content: "\e9db";
}
.icon-tools:before {
  content: "\e9dc";
}
.icon-tools-1:before {
  content: "\e9dd";
}
.icon-tools-2:before {
  content: "\e9de";
}
.icon-tools-3:before {
  content: "\e9df";
}
.icon-trowel:before {
  content: "\e9e0";
}
.icon-trowel-1:before {
  content: "\e9e1";
}
.icon-trowel-2:before {
  content: "\e9e2";
}
.icon-trowel-3:before {
  content: "\e9e3";
}
.icon-trowel-4:before {
  content: "\e9e4";
}
.icon-vest:before {
  content: "\e9e5";
}
.icon-vise:before {
  content: "\e9e6";
}
.icon-vise-1:before {
  content: "\e9e7";
}
.icon-vise-2:before {
  content: "\e9e8";
}
.icon-vise-3:before {
  content: "\e9e9";
}
.icon-vise-4:before {
  content: "\e9ea";
}
.icon-voltmeter:before {
  content: "\e9eb";
}
.icon-voltmeter-1:before {
  content: "\e9ec";
}
.icon-voltmeter-2:before {
  content: "\e9ed";
}
.icon-voltmeter-3:before {
  content: "\e9ee";
}
.icon-wallpaper:before {
  content: "\e9ef";
}
.icon-wall-plug:before {
  content: "\e9f0";
}
.icon-wheelbarrow:before {
  content: "\e9f1";
}
.icon-window:before {
  content: "\e9f2";
}
.icon-window-1:before {
  content: "\e9f3";
}
.icon-window-2:before {
  content: "\e9f4";
}
.icon-window-3:before {
  content: "\e9f5";
}
.icon-window-4:before {
  content: "\e9f6";
}
.icon-wood:before {
  content: "\e9f7";
}
.icon-wood-1:before {
  content: "\e9f8";
}
.icon-woodcutter:before {
  content: "\e9f9";
}
.icon-wrench:before {
  content: "\e9fa";
}
.icon-wrench-1:before {
  content: "\e9fb";
}
.icon-wrench-2:before {
  content: "\e9fc";
}
.icon-wrench-3:before {
  content: "\e9fd";
}
.icon-wrench-4:before {
  content: "\e9fe";
}
.icon-wrench-5:before {
  content: "\e9ff";
}
.icon-wrench-6:before {
  content: "\ea00";
}
.icon-wrench-7:before {
  content: "\ea01";
}
.icon-wrench-8:before {
  content: "\ea02";
}
.icon-wrench-9:before {
  content: "\ea03";
}
