.StickyWhatApp {
  position: fixed;
  bottom: 86px;
  right: 32px;
  background: linear-gradient(180deg, #00FF71 0%, #00D632 100%);
  box-shadow: 1px 1px 6px 0 #00000030;
  padding: 6px;
  border-radius: 16px;
}