RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} !^www\.masterikizler\.com
RewriteRule (.*) http://www.masterikizler.com/$1 [R=301,L]
RewriteCond %{THE_REQUEST} /index.html [NC]
RewriteRule ^(.*/)?index.html$ /$1 [R=301,L]

