.SectionHeader {
  text-align: center;

  h2 {
    &::after {
      content: '';
      display: block;
      border-bottom: 2px solid #ffc527;
      width: 100px;
      margin: auto;
      padding-top: 15px;
    }

    font-size: 33px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 130%;
    margin-bottom: 10px;
  }
}
